.nav-container {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px; */
    background-color: #f1f1f1;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
    margin-bottom: 50px;
  }
  
  .nav-button {
    border: none;
    background-color: transparent;
    color: #555;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-button:hover {
    background-color: #555;
    color: #fff;
  }

  